#main {
	background-color: #F1F1F1;
}

.right-view {
	margin-top: 65px;
}

/*#my-app {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100%;
    background: #fff;	
    z-index: 5;
    background-color: #F3F3F4;
}
*/
#my-app .nav-header{
    line-height: 40px;
    background-color: #5DA492;
    color: #fff;
    margin: 0;
    font-size: 30px;
    padding: 10px;
}

#my-app .nav-header-bar {
	height:60px;
	background-color: #5DA492;
	position: absolute;
	top:0px;
	width:100%;
	left:0px;
}
/*
#my-app h1{
	position: fixed;
    background-color: #5DA492;
    width: 100%;
    padding: 10px;
    color: #FFF;
    margin:0;

}*/

.inboxsdk__tooltip {
	display: none;
}

.w-asV {
	margin-bottom: 0px !important;
}

/*#my-app  #left-dashboard {
	float:left;
	height:100%;
	width:20%;
}*/


#my-app #right-dashboard {
	position: relative;
	width:80%;
	float:left;
}

#my-app #right-dashboard .right-view {
	margin-top: 80px;
	padding-top: 30px;
	background-color: #FFFFFF;
    height: 100%;
    margin-right: 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.right-view-item {
	background-color: #FFFFFF;
    border-radius: 5px;
    width: calc(28.33% - 20px);
    float: left;
    padding: 10px;
    margin-right: 5%;
}

#left-dashboard ul.nav {
	padding: 0;
	margin:0;
	/*list-style-type: none;*/
}

#left-dashboard ul.nav li {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-type: none;
}
/*
#left-dashboard ul.nav a:hover {
}*/
#left-dashboard ul.nav li:hover {
	background-color: #FAFAFA;
	color: #5DA492;
}

.btn {
	border-radius: 5px;
}

.btn-blue {
	background: #1c84c6;
	color: #fff;
	width: 46%;
	text-shadow: none;
	box-shadow: none;
}

.btn-blue:hover {
	opacity: 0.9;
	border-color: #2385C6;
}

.btn-blank {
	background: none;
	color: #8d8d8d;
	width: 46%;
	border: 1px solid #ededed;
	text-shadow: none;
	box-shadow: none;
}

.btn-blank:hover {
	border-color: #F3F3F4;
}
/*#appname {
	background-color: yellow;	
}

#left-dashboard {
	border-right: 1px solid #e5e5e5;
	width: 20%;
	max-width: 200px;
}

.dash-user {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
}

.dash-email {
	padding: 0;
	padding-left: 10px;
	font-size: small;
	margin-top: 0;
	font-weight: normal;
	color: #808080;
	margin-bottom: 10px;
}

.dash-nav {
	margin-top: 0px;
	list-style: none;
	padding-left: 0;
}

.dash-nav a {
	text-decoration: none;
	color: black;
	font-size: smaller;
}

.dash-nav a li {
	padding: 10px;
}

.dash-nav a li:hover {
	background-color: #e5e5e5;
}*/

.template-left {
	width: 100%;
}

.activity {
	border: 1px solid #d3d3d3;
	padding: 5px;
	margin: 5px 0;
}

.read_activity {
	background-color: #ffc6bf;
}

.draft_activity {
	background-color: #B3D0FB;
}

.comment {
	border: 1px solid #d3d3d3;
	padding: 5px;
	margin: 5px 0;
}

.comment .date {
	font-size: smaller;
	/*color: #d3d3d3;*/
}

.comment p {
	margin: 0;
}