html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

#main {
	min-height: 100%;
    /*background-color: #F3F3F4;*/
    padding-left: 0;
    padding-right: 0;
}

.right-view {
	min-height: 100%;
    margin-top: 65px;
}

.col-xs-3 {
	min-height: 100%;
    background-color: #F3F3F4;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 200px;
}

.col-xs-9 {
	padding-left: 0;
}

#main .nav-header {
    line-height: 40px;
    background-color: #5DA492;
    color: #fff;
    margin: 0;
    font-size: 30px;
    padding: 10px;
    margin-right: -50px;
    /*margin-left: -15px;*/
    border-bottom: 10px solid #F3F3F4;
}


/*#my-app .nav-header-bar {
	height:60px;
	background-color: #5DA492;
	position: absolute;
	top:0px;
	width:100%;
	left:0px;
}*/


/*
#my-app h1{
	position: fixed;
    background-color: #5DA492;
    width: 100%;
    padding: 10px;
    color: #FFF;
    margin:0;

}*/

.right-view {
    background-color: white;
}

.inboxsdk__tooltip {
    display: none;
}

.w-asV {
    margin-bottom: 0px !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#right-dashboard {
	padding-left: 20px;
}

#my-app #right-dashboard .right-view {
    margin-top: 80px;
    padding-top: 30px;
    background-color: #FFFFFF;
    height: 100%;
    margin-right: 20px;
    border-radius: 5px;
    /*margin-left: 20px;*/
}

.right-view-item.col-md-4.dashboard-box{
	height: 100%;
    background-color: #F3F3F4;
    border-radius: 5px;
    /*width: calc(28.33% - 20px);*/
    /*float: left;*/
    padding: 10px;
    margin: 5px;
    width: 30%;
    min-width: 210px;
}

.right-view-item.col-md-4.dashboard-box h1 {
    display:inline-block;
    padding-right: 5px;
    line-height: 0;
}

.right-view-item.col-md-4.dashboard-box h1 .glyphicon-tags {
    display:inline-block;
    padding-right: 8px;
}

.right-view-item.col-md-4.dashboard-box div {
    display: inline-block;
 }

 .right-view-item.col-md-4.dashboard-box div p {
    line-height: 0px;
 }

ul.nav {
    /*padding: 0;*/
    /*margin: 0;*/
    /*list-style-type: none;*/
}

ul.nav li {
    padding: 0px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 20px;*/
    list-style-type: none;
}

ul.nav .user-info {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left: 20px;*/
    list-style-type: none;
    color: black;
}

ul.nav li a:hover {
    cursor: pointer;
    /*background-color: #C2C2C2;*/
    color: #5DA492;
}

ul.nav a {
    /*background-color: #C2C2C2;*/
    color: #404040;
}

ul.nav a span {
    padding-right: 3px;
}

ul.nav a:hover {
    /*background-color: #C2C2C2;*/
    color: #5DA492;
}

.nav_active {
    border-left: 4px solid #5DA492;
    background-color: #FAFAFA;
}

#username {
	font-weight: bold;	
}

#useremail {
	color: #A0A0A2;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
	margin-bottom: -2px;
}

#logo {
	height:45px;
}

.btn {
    border-radius: 5px;
}

.dashboard-btn {
    width: 48%;
}

/*no longer blue!*/
.btn-blue {
    /*background: #1c84c6;*/
    background: #5DA492;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}

.btn-blue:hover {
    opacity: 0.9;
    border-color: #2385C6;
    color: #fff;
}

.btn-orange {
    margin-top: 10px;
    background: #F8AC59;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    /*width: 150px;*/
}

.btn-orange:hover {
    opacity: 0.9;
    border-color: #F8AC59;
    color: #fff;
}

.btn-blank {
    border-color: #8d8d8d;
    background: none;
    color: #8d8d8d;
    border: 1px solid #8d8d8d;
    text-shadow: none;
    box-shadow: none;
}

.btn-blank:hover {
    /*border-color: #F3F3F4;*/
    border-color: #C2C2C2;
    color: #C2C2C2;
}


/*#appname {
	background-color: yellow;	
}

#left-dashboard {
	border-right: 1px solid #e5e5e5;
	width: 20%;
	max-width: 200px;
}

.dash-user {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
}

.dash-email {
	padding: 0;
	padding-left: 10px;
	font-size: small;
	margin-top: 0;
	font-weight: normal;
	color: #808080;
	margin-bottom: 10px;
}

.dash-nav {
	margin-top: 0px;
	list-style: none;
	padding-left: 0;
}

.dash-nav a {
	text-decoration: none;
	color: black;
	font-size: smaller;
}

.dash-nav a li {
	padding: 10px;
}

.dash-nav a li:hover {
	background-color: #e5e5e5;
}*/

#label-table {
    margin-top: 20px;
}

.btn-delete {
    border-color: #EF6D7A;
}

.btn-delete .glyphicon {
    color: #EF6D7A;
}

.btn-delete:hover {
    background-color: #EF6D7A;
    border-color: #EF6D7A;
    color: #FFFFFF;
}

.btn-delete .glyphicon:hover {
    color: #FFFFFF;
}

.template-left {
    width: 100%;
}

.activity {
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin: 5px 0;
}

.read_activity {
    background-color: #ffc6bf;
}

.draft_activity {
    background-color: #B3D0FB;
}

.sent_activity {
    background-color: #bbf0d0;
}

.comment {
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin: 5px 0;
}

.comment .date {
    font-size: smaller;
    /*color: #d3d3d3;*/
}

.comment p {
    margin: 0;
}

.search-bar {
    padding: 0;
    margin-top: 10px;
    width: 50%;
}

.form-control {
    margin-top: 10px;
}

.search-bar .form-control {
    border-style: none none solid;
    box-shadow: none;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-radius: 0px;
    background: none;
    padding-left: 0px;
}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align icon */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.input-group {
    width: 90%;
    border-radius: 5px;
}

.label-name {
    border-radius: 5px;
}

.realtimetyping {
	font-size: small;
	margin-left: 5px;
}

#assignForm {
	padding-bottom: 20px;
}

.assign-members{
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-style: Helvetica;
	font-weight: 20px;
	text-align: justify;
}

.click-assigned {
	padding-right: 5px;
}

#assign-submit {
	position: absolute;
	width: 50%;
	left: 25%;
	padding: 5px;
	background-color: #6ED8B8;
	border-radius: 2px;
	font-color: white;
	font-style: Helvetica;
	font-size: 14px;
}
.shared-labels:hover {
	cursor: pointer;
	/*background-color: #C2C2C2;*/
	color: #5DA492;
}

.template-popup {
	width: 250px;
}

.template-popup-title {
	background-color: #5DA492; 
	color: #FFFFFF;
	height: 30px;
	text-align: center; 
	font-size: 1.2vw;
}

.template-title {
	font-weight: bold; 
}
.template-body {
	font-style: italic; 
}

.template-popup-item {
	padding-left: 8px;
	border-bottom: 1px solid #C2C2C2; 
}
.template-popup-item:hover {
	background-color: #C2C2C2;
}


.template-preview {
    margin-top: 20px;
    /*width: 48%;*/
}
.template-list {
    /*border-bottom: 1px solid #C2C2C2;*/
    /*padding: 10px 20px;*/
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px 0;
    margin-left: -15px;
    height: 62px;
}

div.template-list:hover {
    background-color: #F3F3F4;
}

.template-list-active {
    background-color: #F3F3F4;
}

.template-list p {
    margin: 0;
    font-size: smaller;
}

.template-details {
    margin-top: 20px;
    padding: 5px;
    /*width: 48%;*/
}

.template-form input {
    width: 75%;
    margin-top: -7px;
}

.template-form textarea {
    width: 75%;
    margin-top: -7px;
}