<!-- to be appended below task comments -->
<!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
<div>
<form id="commentForm">
  <div id="addComment"></div>
  Comment:<br />
  
  <textarea name='comment' id='comment'></textarea>
  <!-- <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' /> -->
  <input class='well' type='submit' value='Submit' id = 'submitComment'/> 
  <!-- <button type="button" class='btn btn-primary'>Hello</button>  -->
</form>