<div id="my-app">

	<div id="left-dashboard">
		<h1 class="nav-header">AppName</h1>
		<ul class="nav nav-pills nav-stacked">
		  <li>Your Name<br />Your Email</li>
		  <li><a ui-sref="dashboard">Dashboard</a></li>
		  <li><a ui-sref="sharedlabels">Shared Labels</a></li>
		  <li><a ui-sref="emailtemplates">Email Templates</a></li>
		  <li><a ui-sref="snoozed">Snoozed Items</a></li>
		</ul>
		
	</div>

	<div id="right-dashboard">
		<div class="nav-header-bar"></div>
		<div class="right-view">
			<div class="right-view-item col-md-4" id="labels-box">
				<span class="glyphicon glyphicon-tags"></span>
				<p>Shared Labels</p>
				<button>Create</button>
				<button>View All</button>
			</div>
			<div class="right-view-item col-md-4" id="templates-box">
				<span class="glyphicon glyphicon-newspaper"></span>
				<p>Email Templates</p>
				<button>Create</button>
				<button>View All</button>
			</div>
			<div class="right-view-item col-md-4" id="snoozed-box">
				<span class="glyphicon glyphicon-cogwheel"></span>
				<p>Snoozed Items</p>
				<button>View All</button>
			</div>
		</div>
	</div>

</div>