<div>
	<h1>AppName</h1>

	<div class="left-dash col-md-3" id="left-dashboard">
		<h3>Your Name</h3>
		<h3>Your Email</h3>

		<!-- <ul class="nav nav-pills nav-stacked"> -->
		<ul class="nav nav-tabs">
		  <li ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
		  <li ui-sref-active="active"><a ui-sref="shared-labels">Shared Labels</a></li>
		  <li ui-sref-active="active"><a ui-sref="shared-contacts">Shared Contact Groups</a></li>
		  <li ui-sref-active="active"><a ui-sref="email-templates">Email Templates</a></li>
		  <li ui-sref-active="active"><a ui-sref="settings">My Settings</a></li>    
		</ul>
		
	</div>

	<h1>EMAIL TEMPLATES</h1>

	<button>Create a new template</button>

	<div class="col-md-9">
		<div class="template-list col-md-9">
			<ul ng-repeat="template in templates">
				<li>{{template.title}}</li>
			</ul>
		</div>

		<div>
			<p>Subject:</p>
			<input type="text"></input>
			<p>Body:</p>
			<textarea rows=10 cols="100%"></textarea>
			<p>Shared With:</p>
			<input type="text"></input>

			<button>Save</button>
		</div>
	</div>

</div>
