<form class="template-form">
    <p>Template Title:</p>
    <input type="text" ng-model="copyTemplate.title"></input>
    <br><br>
    <p>Message Body:</p>
    <textarea rows=5 ng-model="copyTemplate.body">{{copyTemplate.body}}</textarea>
    <!-- <p>Shared With:</p> -->
    <!-- <input type="text" ng-model="template.members"></input> -->
</form>
<button class="btn btn-orange" ng-click="updateTemplate()">Update</button>
<button class="btn btn-orange" ng-click="discardTemplate()">Discard</button>