<div id="right-dashboard">
    <div class="row">
        <h2 class="section title">Email Templates</h2>
        <p>You can use these email templates while composing/replying to an email in Gmail</p>
        <!-- <button class="btn btn-blue" ui-sref="emailtemplatescreate">Create a new template</button> -->
        <button class="btn btn-blue" ui-sref="emailtemplatescreate">
            <!-- <i class="fa fa-plus"> -->
            <span class="glyphicon glyphicon-plus"></span> Create New Template
            <!-- </i> -->
        </button>
    </div>
    <div class="row templates">
        <div class="template-preview col-sm-4">
            <div class="template-list" ng-repeat="template in templates" ng-class="{'template-list-active': thetemplate == template}" ng-click="showTemplate(template)">
                <p><span class="template-title">Subject:</span> {{template.title}}</p>
                <p><span class="template-title">Body:</span> <span class="template-body">{{template.body.slice(0, 40)}}...</span></p>
            </div>
        </div>
        <div class="template-details col-sm-8">
            <ui-view></ui-view>
        </div>
    </div>
</div>