<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AppName</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- <link href="/node_modules/angular-ui-select/select.min.css" rel="stylesheet" /> -->
    <link href="/node_modules/ui-select/dist/select.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/node_modules/angular/angular.js" ></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js" ></script>
    <!-- <script src="/node_modules/angular-ui-select/select.min.js" ></script> -->
    <script src="/node_modules/ui-select/dist/select.min.js" ></script>
    <script src="/node_modules/firebase/firebase.js" ></script>
    <script src="/node_modules/angularfire/dist/angularfire.js" ></script>
    <script src="../angular/module.js" ></script>
    <script src="../angular/dashboard/dashboard.controller.js" ></script>
    <script src="../angular/labels/labels.controller.js" ></script>
    <script src="../angular/templates/templates.controller.js" ></script>
    <script src="../angular/snoozed/snoozed.controller.js" ></script>

  </head>
  <body ng-app="app">
    <div id="main" class="container-fluid">
    
      <h1 class="nav-header"><img id="logo" src="white-tembo-wide.png" /></h1>

      <div class="col-xs-3">
        <div id="left-dashboard">

          <ul class="nav nav-pills nav-stacked">
            <li class="user-info" id="username">Belinda Lai</li>
            <li class="user-info" id="useremail">b.emma.lai@gmail.com</li>
            <tr>
            <li ui-sref-active="nav_active"><a ui-sref="dashboard"><small><span class="glyphicon glyphicon-cog"></span></small> Dashboard</a></li>
            <li ui-sref-active="nav_active"><a ui-sref="sharedlabels"><small><span class="glyphicon glyphicon-tags"></span></small> Shared Labels</a></li>
            <li ui-sref-active="nav_active"><a ui-sref="emailtemplates"><small><span class="glyphicon glyphicon-pencil"></span></small> Email Templates</a></li>
            <li ui-sref-active="nav_active"><a ui-sref="snoozed"><small><span class="glyphicon glyphicon-time"></span></small> Snoozed Items</a></li>
          </ul>
          
        </div>
      </div>

      <div class="col-xs-9" class="right-view">
        <div class="row"><ui-view></ui-view></div>
      </div>

    </div>
  </body>
</html>
