<div>
	<h1>YOU'RE IN SETTINGS</h1>

	<div class="right-view col-md-9">
		<div class="right-view col-md-3">
			<span class="glyphicon glyphicon-tags"></span>
			<p>Shared Labels</p>
			<button>Create</button>
			<button>View All</button>
		</div>
		<div class="right-view col-md-3">
			<span class="glyphicon glyphicon-address-book"></span>
			<p>Shared Contact Groups</p>
			<button>Create</button>
			<button>View All</button>
		</div>
		<div class="right-view col-md-3">
			<span class="glyphicon glyphicon-newspaper"></span>
			<p>Email Templates</p>
			<button>Create</button>
			<button>View All</button>
		</div>
		<div class="right-view col-md-3">
			<span class="glyphicon glyphicon-cogwheel"></span>
			<p>Settings</p>
			<button>Edit Settings</button>
		</div>
	</div>

</div>