<div id="right-dashboard">
		<h2 class="section title">Create Shared Labels</h2>
		

		<div class="main-content">
			<h4>Specify the name of the label you want to share</h4>
		</div> 
		<!-- option1 -->
		<div class="input-group">
			<input type="text" placeholder="Enter a label name" class="form-control label-name" ng-model="label.label">
		</div>
		<!-- OR -->
		<h3>OR</h3>

		<!-- option2 -->
		<div class="input-group">
			<h4>Choose a label name from your existing Gmail labels</h4>

			<form name="myForm">
			  	<!-- <label for="repeatSelect"> Repeat select: </label> -->
			  	<select name="repeatSelect" id="repeatSelect" ng-model="label.label">
			    	<option ng-repeat="label in gapiLabels" >{{label}}</option>
			  	</select>
			</form>

		</div>

		<h3>Share the labels among these users (type email to invite new users)</h3>
		<div class="input-group">
			<!-- <input type="text" placeholder="Enter emails separated by a comma" class="form-control label-name" ng-model="label.members"> -->			
			<ui-select ng-model="label.members">
				<ui-select-choices ng-repeat="m in users | filter: $select.search">
					{{m.email}}
				</ui-select-choices>
			</ui-select>
		</div>

		<!-- <button>Cancel</button> -->
		<button class="btn btn-orange" ng-click="addLabel(label)">Save</button>

</div>