<div id="right-dashboard">
		<h2 class="section title">Create Shared Labels</h2>
		

		<div class="main-content">
			<h4>Specify the name of the label you want to share</h4>
		</div> 
		<!-- option1 -->
		<div class="input-group">
			<input type="text" placeholder="Enter a label name" class="form-control label-input" ng-model="newLabel.label">
		</div>
		<!-- OR -->
		<h3>OR</h3>

		<!-- option2 -->
		<div class="input-group">
			<h4>Choose a label name from your existing Gmail labels</h4>

			<form name="myForm">
			  	<select name="repeatSelect" id="repeatSelect" ng-model="newLabel.label">
			    	<option ng-repeat="label in gapiLabels" >{{label}}</option>
			  	</select>
			</form>

		</div>

		<h4>Share the labels among these users</h4>
		<div class="input-group">
			<ui-select multiple ng-model="newLabel.members" theme="bootstrap" sortable="true" close-on-select="false" class="label-input">
			  <ui-select-match placeholder="Select or search a person in the list...">
			  	{{$item.name}} &lt;{{$item.email}}&gt;
			  </ui-select-match>
			  <ui-select-choices repeat="item in users | filter: {name: $select.search, email: $select.search}">
			      {{item.name}}: {{item.email}}
			  </ui-select-choices>
			</ui-select>

		</div>

		<button class="btn btn-orange" ng-click="addLabel(newLabel)">Save</button>

</div>