<div id="right-dashboard">
		<h2 class="section title">Create Shared Labels</h2>
		

		<div class="main-content">
			<h4>Specify the name of the label you want to share</h4>
		</div> 
		<!-- option1 -->
		<div class="input-group">
			<input type="text" placeholder="Enter a label name" class="form-control label-name" ng-model="label.label">
		</div>
		<!-- OR -->
		<h3>OR</h3>

		<!-- option2 -->
		<div class="input-group">
				<input placeholder="Select Labels from your Gmail" class="label-name">
					
				</input>
<!-- 				<select ng-model="gapi.labels">
					<option ng-repeat="label in labels">
						{{label.name}}
					</option>
				</select> -->
		</div>

		<h3>Share the labels among these users (type email to invite new users)</h3>
		<div class="input-group">
			<input type="text" placeholder="Enter emails separated by a comma" class="form-control label-name" ng-model="label.members">
		</div>

		<!-- <button>Cancel</button> -->
		<button class="btn btn-orange" ng-click="addLabel(label)">Save</button>

</div>