<div>
	<h1>futureofappnamehere</h1>

	<div class="left-dash col-md-3" id="left-dashboard">
		<h3>Your Name</h3>
		<h3>Your Email</h3>
		<ul class="nav nav-pills nav-stacked">
			<li><a ui-sref="dashboard">Dashboard</a></li>
			<li><a ui-sref="userpanel.sharedLabels">Shared Labels</a></li>
			<li><a ui-sref="userpanel.sharedContacts">Shared Contact Groups</a></li>
			<li><a ui-sref="userpanel.emailTemplates">Email Templates</a></li>
			<li><a ui-sref="userpanel.settings">My Settings</a></li>
		</ul>
	</div>

	<div class="col-md-9">
		<ui-view></ui-view>
	</div>

</div>