<div class="row" id="appname">
	<h1>AppName</h1>
</div>
<div class="row" id="paneldiv">
	<div class="left-dash col-md-3" id="left-dashboard">
		<h3 class="dash-user">Your Name</h3>
		<h3 class="dash-email">Your Email</h3>

		<!-- <ul class="nav nav-pills nav-stacked dash-nav"> -->
		<!-- <ul class="nav nav-tabs dash-nav"> -->

		<ul class="nav navbar-nav dash-nav">
		  <a ui-sref="dashboard"><li ui-sref-active="active">Dashboard</li></a>
		  <a ui-sref="shared-labels"><li>Shared Labels</li></a>
		  <a ui-sref="shared-contacts"><li>Contacts Groups</li></a>
		  <a ui-sref="email-templates"><li>Email Templates</li></a>
		  <a ui-sref="settings"><li>My Settings</li></a>
		</ul>

	</div>

	<div class="col-md-9">
		<ui-view></ui-view>
	</div>

</div>